@import "variable.styl"

body, html 
    line-height: 1
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Arial, Helvetica, sans-serif
    user-select: none
    -webkit-tap-highlight-color: transparent
    background: $color-background
    